@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div id="eventLogApp">
        <input type="text" name="filter" v-model="filter" placeholder="Filter..." />
        <div class="logGrid">
            <template v-for="log in filteredMessages" :key="log">
                <span :class="{...getRowColor(log.level), cell: true}">{{getFormattedDate(log.timeStamp)}}</span>
                <span :class="{...getRowColor(log.level), cell: true}">{{log.message}}</span>
            </template>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" type="text/css" href="/css/logging.css" />
    <script src="~/lib/lodash.js/lodash.min.js"></script>
    <script src="~/lib/vue/dist/vue.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/logging.js"></script>
}

